<div class="container">
  <div class="devise-form-wrapper">
    <h2>Editer <%= resource_name.to_s.humanize %></h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs devise-form-custom input-sm">
        <%= f.input :username,
                    label: "Nom d'utilisateur",
                    required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "username", class: 'devise-form-control' }%>
        <%= f.input :photo_id, class: 'devise-form-control' %>
        <%= f.input :photo_id_cache, as: :hidden %>
        <%= f.input :email, required: true, input_html: { class: 'devise-form-control' } %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>En attente de confirmation pour : <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    label: "Mot de passe",
                    hint: "Ne pas remplir ce champ si vous ne souhaitez pas modifier",
                    required: false,
                    input_html: { autocomplete: "new-password", class: 'devise-form-control' } %>
        <%= f.input :password_confirmation,
                    label: "Confirmation du mot de passe",
                    required: false,
                    input_html: { autocomplete: "new-password", class: 'devise-form-control' } %>
        <%= f.input :current_password,
                    label: "Mot de passe actuel",
                    hint: "Nous avons besoin de votre mot de passe actuel pour confirmer vos changements", #we need your current password to confirm your changes
                    required: true,
                    input_html: { autocomplete: "current-password", class: 'devise-form-control' } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Mettre à jour", class: 'btn-info' %>
      </div>
    <% end %>
    <div class="form-footer-links">
      <h3>Supprimer mon compte</h3>
      <p>Insatisfait? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete %></p>
      <%= link_to "Retour", :back, class: 'btn btn-default' %>
    </div>
  </div>
</div>
