<div class="container">
  <div class="">
    <div class="">
      <h2>Selectionne tes catégories préférées :</h2>
    </div>
    <div class="">

        <%= form_tag({controller: "users", action: "recieve_interest_choices"}, method: "post", class: "") do %>
          <div class="row">
          <% count = 1 %>
          <% @scores.each do |score| %>
           <div style="padding: 0;"  class="col-xs-6 col-md-3" id="<%= count %>-sub-category">

              <%= check_box_tag score.id, 'true', score.checked, class: 'checkbox-custom' %>

              <label style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path "#{count}-sub-category" %>);" class="buttton-image <%= 'activated' if score.checked %>" for="<%= score.id %>"><%= score.sub_category.name %></label>
            </div>
            <% count += 1 %>
          <% end %>
          </div>
          <div class="interests-footer">
            <%= submit_tag "Submit", class: 'btn btn-lg btn-info' %>
          </div>
        <% end %>
    </div>
  </div>
</div>
