<p class="text-center"><%= render 'modal_profile' %></p>

<div class="wrapper">
<div class="container">
  <div class="user-grid">
    <%= render 'profile', user: @user %>
    <%= render 'interests_graph' %>
    <%= render 'jobs' %>
    <%= render 'history' %>
  </div>
</div>







