<h1 class="text-center"><%= @user.username %></h1>

<div class="wrapper">
  <div class="progress-bars">
    <h2>Progress Bar</h2>
    <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:0%">
    70%
  </div>
</div>
  </div>
  <div class="spider-chart">
  <canvas id="myChart" data-data="<%= @data.to_json %>"></canvas>
</div>


<%= form_tag({controller: "users", action: "recieve_interest_choices"}, method: "post", class: "") do %>
  <% SubCategory.all.each do |sub_category| %>
    <%= check_box_tag(sub_category.id) %>
    <%= label_tag(sub_category.id, "#{sub_category.name}") %>
  <% end %>
  <%= submit_tag("Submit") %>
<% end %>

