<div class="row">
    <% @videos.each do |video| %>
      <div class="col-xs-12 pad-bottom-30">
        <%= link_to video_path(video) do %>
          <div class="small-card">
            <div class="small-card-img" style="background-image: url('https://img.youtube.com/vi/<%= video.youtube_id %>/0.jpg')">
              <div class="play-button"><i class="fas fa-play-circle"></i></div>
            </div>
            <div class="small-card-content">
              <div class="small-details">
                <p><i class="far fa-comments"></i></p>
                <p><i class="far fa-eye"></i></p>
                <p><i class="far fa-clock"></i> <%= video.duration_seconds / 60 %>:<%= "%.2i" %(video.duration_seconds % 60) %> </p>
              </div>
              <div class="small-description">
                <p><%= video.title %></p>
              </div>
              <div class="small-footer">
                <p><%= video.channel %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
