
<% if user_signed_in? %>
  <div class="padding-15"></div>
  <div class="container">
    <% if @videos.any? %>
      <h3>Ce que tu pourrais aimer...</h3>
      <%= render 'iframe_img', videos: @videos %>
   <% end %>
   <% @sub_categories.each do |category| %>
      <% next if category.videos.empty? %>
        <h4><%= category.name %></h4>
        <%= render 'iframe_img_6', videos: category.videos.first(6) %>
      <% end %>
  </div>
<% else %>
  <div class="padding-15"></div>
  <%= render 'jumbotrone' %></div>
  <div class="container">
    <% @sub_categories.each do |category| %>
      <% next if category.videos.empty? %>
      <h4><%= category.name %></h4>
          <%= render 'iframe_img_6', videos: category.videos.first(6) %>
    <% end %>
  </div>
<% end %>
