
<% if user_signed_in? %>
  <h1 class="text-center">Welcome</h1>
  <div class="container">
    <% if @videos.empty? %>
      <h4>Recommended for you</h4>
      <%= render 'iframe_img', videos: @videos %>
   <% end %>
   <% @sub_categories.each do |category| %>
      <% next if category.videos.empty? %>
        <h4><%= category.name %></h4>
        <%= render 'iframe_img_6', videos: category.videos.first(6) %>
      <% end %>

    <% end %>
  </div>
<% else %>

  <%= render 'jumbotrone' %></div>
  <div class="container">
    <% @sub_categories.each do |category| %>
      <% next if category.videos.empty? %>
      <h4><%= category.name %></h4>
          <%= render 'iframe_img_6', videos: category.videos.first(6) %>
    <% end %>
  </div>
<% end %>

