
<% if user_signed_in? %>
  <h1 class="text-center">Welcome</h1>
  <div class="container">
    <h1>Recommended for you</h1>
    <%= render 'iframe_img', videos: @videos %>
   <% @sub_categories.each do |category| %>
      <% next if category.videos.empty? %>
      <h1><%= category.name %></h1>
          <%= render 'iframe_img', videos: category.videos.first(4) %>
    <% end %>
  </div>
<% else %>

  <%= render 'jumbotrone' %></div>
  <div class="container">
    <% @sub_categories.each do |category| %>
      <% next if category.videos.empty? %>
      <h1><%= category.name %></h1>
          <%= render 'iframe_img', videos: category.videos.first(4) %>
    <% end %>
  </div>
<% end %>

